@media screen and (max-width: 1200px) {
  .nav-3 .apply {
    display: none;
  }
  .feature-area {
    flex-direction: row;
    padding: 0 1rem;
  }
  .feature-wraping {
    width: 100%;
    margin-top: -50px;
  }
  /*----------------------about-area start------------------------*/
  .owl-item {
    padding: 4rem;
  }
  .about-area {
    padding: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  /*-------------------about-image start-----------------------*/
  .area-container {
    width: 100%;
  }
  /*--------------about-right start----------------------*/
  .about-right {
    padding: 3rem 0;
  }
  .site-title-tagline {
    font-size: 1.2rem;
  }
  .about-right h2 {
    font-size: 3rem;
    margin: 0.5rem 0;
  }
  .both-site {
    grid-template-columns: 3fr 2fr;
    gap: 0;
  }
  .right-site {
    margin: 1rem;
    position: relative;
  }
  .about-quote {
    background-color: #e9e0d2;
    padding: 0.8rem;
    border-radius: 20px;
  }
  /*---------------------------Course-area start----------------------*/
  .Course-area {
    padding: 4rem;
  }
  .course-item {
    grid-template-columns: 1fr 1fr 1fr;
    gap: 3rem;
  }
  /*---------------------------video-aera-------------------*/
  .video-aera {
    margin: 3rem 4rem;
    grid-template-columns: 1fr 1fr;
  }
  /*----------------------------teacher-area-------------------*/
  .teacher-area {
    padding: 4rem;
  }

  /*------------------------why choose area start--------------------------*/
  .choose-area {
    padding: 4rem;
  }
  .choose-pic {
    margin-top: 2rem;
  }
  /*-----------------------Galary-area -------------------------*/
  .Galary-area {
    padding: 3rem;
  }
  .offer-area {
    padding: 0 4rem;
  }
  /*--------------------enrooll area-------------------*/
  .enroll-area {
    padding: 4rem;
  }
  /*----------------------- Our blog-area start-------------------*/
  .Blog-area {
    padding: 4rem;
  }
  .logo-area {
    padding: 3rem 4rem;
  }
  /*-----------------------footer area------------------------------*/
  .footer-area {
    padding: 4rem 4rem 0 4rem;
  }
}
@media screen and (max-width: 992px) {
  main .navbar-2 {
    display: none;
  }
  main .navbar-3 {
    display: flex;
    justify-content: center;
  }

  main .navbar-3 .nav-3 {
    width: 85%;
    display: flex;
    flex-direction: column;
    justify-content: left;
  }
  .mobile-meno {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    transition: all 0.3s;
  }
  main .navbar-3 .nav-menu {
    display: none;
    justify-content: left;
    width: 100%;
    overflow: scroll;
    scroll-behavior: smooth;
    animation: navanimation 0.3s forwards;
  }
  main .navbar-3 .hide-nav-meno {
    display: block;
    transition: all 0.3s;
  }
  @keyframes navanimation {
    0% {
      height: 0;
    }
    100% {
      height: 35vh;
    }
  }
  main .navbar-3 .nav-3 .main-menu {
    display: flex;
    flex-direction: column;
    margin-left: 1rem;
  }
  main .navbar-3 .nav-3 .main-menu .meno {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px 0;
  }
  main .navbar-3 .nav-3 .main-menu .meno a {
    display: flex;
    flex-direction: row;
    padding: 5px;
    border-radius: 10px;
    width: 100%;
    justify-content: space-between;
  }
  main .navbar-3 .nav-3 .main-menu .meno a:hover {
    color: black;
    background-color: rgb(71, 63, 63, 0.1);
    transform: none;
  }
  .Academics {
    width: 100%;
    padding: 10px 0;
  }
  .Academics-menu {
    display: none;
    position: relative;
    width: 90%;
    top: 0;
    left: 0;
    border-top: none;
    border: #757272 1px solid;
    border-radius: 20px;
    background-color: #ffffff;
    padding: 1rem;
    transition: all 0.3s;
  }
  .Academics-menu img {
    display: none;
  }
  main .navbar-3 .nav-menu ul .Academics:hover .Academics-menu {
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
  }
  .Academics-menu h2 {
    color: black;
  }
  .Academics-menu div p {
    font-size: 1.2rem;
    margin-top: 1rem;
    line-height: 2rem;
    color: rgb(0, 0, 0);
  }
  .Academics a {
    display: flex;
    flex-direction: row;
    width: 100%;
    padding: 5px;
    border-radius: 10px;
    justify-content: space-between;
  }
  .Academics a:hover {
    background-color: rgb(71, 63, 63, 0.1);
  }
  .submenu {
    position: relative;
    display: none;
    width: 90%;
    top: 100%;
    left: 30px;
    border-top: none;
    background-color: #ffffff;
    border: #757272 1px solid;
    border-radius: 20px;
    transition: all 0.3s;
  }
  .mobile-submeno {
    display: block;
  }
  main .navbar-3 .nav-menu ul .meno:hover .submenu {
    display: block;
  }
  #meno-effect {
    border-top: none;
  }

  #meno-effect a {
    color: rgb(0, 0, 0);
    padding: 10px;
    border-radius: 10px;
  }
  #meno-effect:hover a {
    color: black;
    transform: none;
  }
  .submenu-2 {
    display: none;
    position: relative;
    width: 90%;
    top: 0;
    left: 10px;
    border-top: none;
    border: #757272 1px solid;
    border-radius: 20px;
    background-color: #ffffff;
    animation: none;
  }
  .submenu-2 ul li #submeno-element {
    list-style: none;
    color: rgb(0, 0, 0);
    text-decoration: none;
    display: block;
    transition: all 0.3s;
  }
  .submenu-2 ul li #submeno-element:hover {
    color: black;
    background-color: rgb(71, 63, 63, 0.1);
    transform: none;
  }
  main .navbar-3 .logo {
    margin-top: 0rem;
  }
  main .navbar-3 .nav-3 .menu-icon {
    display: block;
  }
  main .navbar-3 {
    grid-template-columns: 1fr 1fr;
  }
  .search-meno {
    display: none;
  }
  /*---------------------main-section start----------------------*/
  .owl-item {
    padding: 6rem;
  }
  .owl-item .hero-content {
    width: 100%;
  }
  .owl-item .hero-content h6 {
    font-size: 1.3rem;
  }
  .owl-item .hero-content h1 {
    font-size: 3rem;
  }
  /*-----------feature-area start----------------*/

  .feature-wraping {
    width: 100%;
    grid-template-columns: 1fr 1fr;
    margin-top: -50px;
  }
  /*-------------------about-image start-----------------------*/
  .about-image {
    padding: 0;
  }
  .image-left {
    padding: 0;
  }
  .about-area {
    padding: 2rem 6rem;
  }
  .area-container {
    width: 100%;
    grid-template-columns: 1fr;
  }
  /*-------------counter-area start----------------*/
  .counter-area {
    padding: 4rem 2rem;
  }
  .counter-area-container {
    grid-template-columns: 1fr 1fr;
  }
  .counter-wraping {
    margin: 1rem 0;
  }
  /*---------------------------Course-area start----------------------*/
  .course-title {
    width: 80%;
  }
  .Course-area {
    padding: 2rem 6rem;
  }
  .course-item {
    grid-template-columns: 1fr 1fr;
  }
  /*---------------------------video-aera-------------------*/
  .video-aera {
    margin: 3rem 6rem;
    grid-template-columns: 1fr;
  }
  .video {
    height: 300px;
    width: 100%;
  }
  /*----------------------------teacher-area-------------------*/
  .teacher-area {
    padding: 3rem 6rem;
  }
  .All-Teachers {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
  }
  /*------------------------why choose area start--------------------------*/
  .choose-area {
    padding: 3rem 6rem;
    grid-template-columns: 1fr;
  }
  .choose-details {
    padding-right: 0;
  }
  .choose-items {
    grid-template-columns: repeat(2, 1fr);
  }
  .choose-pic {
    margin-top: 2rem;
  }
  .Galary-area {
    padding: 5rem;
  }
  .Galary-title {
    width: 100%;
  }
  .offer-area {
    padding: 0 6rem;
  }
  .offer {
    width: 100%;
  }
  /*--------------------enrooll area-------------------*/
  .enroll-area {
    padding: 6rem;
  }
  .enroll-container {
    display: block;
  }
  .enrollment-form {
    width: 100%;
  }
  .skills {
    width: 100%;
    margin-top: 1rem;
  }
  /*----------------------- Our blog-area start-------------------*/
  .Blog-title {
    width: 100%;
  }
  .Blog-area {
    padding: 6rem;
  }
  .blog-post {
    grid-template-columns: repeat(2, 1fr);
  }
  .logo-area {
    padding: 3rem 6rem;
  }
  /*-----------------------footer area------------------------------*/
  .footer-area {
    padding: 4rem 6rem 0 6rem;
  }
  .footer-container {
    grid-template-columns: 3fr 4fr;
  }
}
@media screen and (max-width: 768px) {
  .owl-item {
    padding: 4rem 6rem;
  }
  main .navbar-3 .nav-menu ul .Academics:hover .Academics-menu {
    grid-template-columns: 1fr;
  }
  .owl-item .hero-content h1 {
    font-size: 2.5rem;
  }
  .feature-wraping {
    grid-template-columns: 1fr;
  }
  /*-------------------about-image start-----------------------*/
  .about-area {
    padding: 6rem;
  }
  .about-image {
    grid-template-columns: 1fr;
    padding: 0;
  }

  .both-site {
    grid-template-columns: 1fr;
  }
  .right-site {
    margin: 2rem 0;
  }
  .counter-area-container {
    grid-template-columns: 1fr;
  }
  .Course-area {
    padding: 2rem 6rem;
  }
  .course-item {
    grid-template-columns: 1fr;
  }
  /*---------------------------video-aera-------------------*/
  .video-aera {
    grid-template-columns: 1fr;
  }
  .video-image {
    background: url("./pic/video-image.jpg") no-repeat center/cover;
    height: 100%;
    width: 100%;
    border-radius: 50px 50px 50px 0;
    position: relative;
  }
  .teacher-area {
    padding: 3rem 6rem;
  }
  .teacher-title {
    width: 100%;
  }
  .All-Teachers {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 2rem;
  }
  .choose-area {
    padding: 6rem;
    flex-direction: column;
  }
  .choose-details {
    padding-right: 0;
  }
  .choose-items {
    grid-template-columns: repeat(1, 1fr);
  }
  .choose-pic {
    margin-top: 2rem;
  }
  .Galary-area {
    padding: 5rem;
  }
  .Galary-title {
    padding: 1rem 2rem;
  }
  .Galary {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
  .blog-post {
    grid-template-columns: repeat(1, 1fr);
  }
  .logo-area {
    padding: 3rem 5rem;
  }
  .footer-container {
    grid-template-columns: 1fr;
  }
}
@media screen and (max-width: 520px) {
  .owl-item {
    padding: 4rem 1rem;
  }
  .about-area {
    padding: 1rem;
  }
  .Course-area {
    padding: 1rem;
  }
  .video-aera {
    margin: 3rem 1rem;
    grid-template-columns: 1fr;
  }
  .teacher-area {
    padding: 3rem 1rem;
  }
  .choose-area {
    padding: 1rem;
    flex-direction: column;
  }
  .Galary-area {
    padding: 0;
  }
  .offer-area {
    padding: 0 1rem;
  }
  .enroll-area {
    padding: 1rem;
  }
  .Blog-area {
    padding: 1rem;
  }
  .logo-area {
    padding: 1rem;
  }
  .footer-area {
    padding: 3rem 1rem 0 1rem;
  }
  .footer-links {
    grid-template-columns: repeat(1, 1fr);
  }
}
