@media screen and (max-width: 1200px) {
  .nav-3 .apply {
    display: none;
  }
  .feature-area {
    flex-direction: row;
    padding: 0 1rem;
  }
  .feature-wraping {
    width: 100%;
    margin-top: -50px;
  }
  /*----------------------about-area start------------------------*/
  .owl-item {
    padding: 4rem;
  }
  .about-area {
    padding: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  /*-------------------about-image start-----------------------*/
  .area-container {
    width: 100%;
  }

  .image-left .img-1 {
    height: 309px;
    width: 206px;
  }
  .image-right .img-2 {
    height: 186px;
    width: 186px;
  }
  .image-right .img-3 {
    height: 247px;
    width: 206px;
  }
  /*--------------about-right start----------------------*/
  .about-right {
    padding: 3rem 0;
  }
  .site-title-tagline {
    font-size: 1.2rem;
  }
  .about-right h2 {
    font-size: 3rem;
    margin: 0.5rem 0;
  }
  .both-site {
    grid-template-columns: 3fr 2fr;
    gap: 0;
  }
  .right-site {
    margin: 1rem;
    position: relative;
  }
  .about-quote {
    background-color: #e9e0d2;
    padding: 0.8rem;
    border-radius: 20px;
  }
  /*---------------------------Course-area start----------------------*/
  .Course-area {
    padding: 4rem;
  }
  .course-item {
    grid-template-columns: 1fr 1fr 1fr;
    gap: 3rem;
  }
  .course-image img {
    height: 175px;
    width: 260px;
  }
}
@media screen and (max-width: 992px) {
  main .navbar-2 {
    display: none;
  }
  main .navbar-3 {
    display: flex;
    justify-content: center;
  }

  main .navbar-3 .nav-3 {
    width: 85%;
    display: flex;
    flex-direction: column;
    justify-content: left;
  }
  .mobile-meno {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    transition: all 0.3s;
  }
  main .navbar-3 .nav-menu {
    display: none;
    justify-content: left;
    width: 100%;
    overflow: scroll;
    scroll-behavior: smooth;
    animation: navanimation 0.3s forwards;
  }
  main .navbar-3 .hide-nav-meno {
    display: block;
    transition: all 0.3s;
  }
  @keyframes navanimation {
    0% {
      height: 0;
    }
    100% {
      height: 35vh;
    }
  }
  main .navbar-3 .nav-3 .main-menu {
    display: flex;
    flex-direction: column;
    margin-left: 1rem;
  }
  main .navbar-3 .nav-3 .main-menu .meno {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px 0;
  }
  main .navbar-3 .nav-3 .main-menu .meno a {
    display: flex;
    flex-direction: row;
    padding: 5px;
    border-radius: 10px;
    width: 100%;
    justify-content: space-between;
  }
  main .navbar-3 .nav-3 .main-menu .meno a:hover {
    color: black;
    background-color: rgb(71, 63, 63, 0.1);
    transform: none;
  }
  .Academics {
    width: 100%;
    padding: 10px 0;
  }
  .Academics-menu {
    display: none;
    position: relative;
    width: 90%;
    top: 0;
    left: 0;
    border-top: none;
    border: #757272 1px solid;
    border-radius: 20px;
    background-color: #ffffff;
    padding: 1rem;
    transition: all 0.3s;
  }
  .Academics-menu img {
    display: none;
  }
  main .navbar-3 .nav-menu ul .Academics:hover .Academics-menu {
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
  }
  .Academics-menu h2 {
    color: black;
  }
  .Academics-menu div p {
    font-size: 1.2rem;
    margin-top: 1rem;
    line-height: 2rem;
    color: rgb(0, 0, 0);
  }
  .Academics a {
    display: flex;
    flex-direction: row;
    width: 100%;
    padding: 5px;
    border-radius: 10px;
    justify-content: space-between;
  }
  .Academics a:hover {
    background-color: rgb(71, 63, 63, 0.1);
  }
  .submenu {
    position: relative;
    display: none;
    width: 90%;
    top: 100%;
    left: 30px;
    border-top: none;
    background-color: #ffffff;
    border: #757272 1px solid;
    border-radius: 20px;
    transition: all 0.3s;
  }
  .mobile-submeno {
    display: block;
  }
  main .navbar-3 .nav-menu ul .meno:hover .submenu {
    display: block;
  }
  #meno-effect {
    border-top: none;
  }

  #meno-effect a {
    color: rgb(0, 0, 0);
    padding: 10px;
    border-radius: 10px;
  }
  #meno-effect:hover a {
    color: black;
    transform: none;
  }
  .submenu-2 {
    display: none;
    position: relative;
    width: 90%;
    top: 0;
    left: 10px;
    border-top: none;
    border: #757272 1px solid;
    border-radius: 20px;
    background-color: #ffffff;
    animation: none;
  }
  .submenu-2 ul li #submeno-element {
    list-style: none;
    color: rgb(0, 0, 0);
    text-decoration: none;
    display: block;
    transition: all 0.3s;
  }
  .submenu-2 ul li #submeno-element:hover {
    color: black;
    background-color: rgb(71, 63, 63, 0.1);
    transform: none;
  }
  main .navbar-3 .logo {
    margin-top: 0rem;
  }
  main .navbar-3 .nav-3 .menu-icon {
    display: block;
  }
  main .navbar-3 {
    grid-template-columns: 1fr 1fr;
  }
  .search-meno {
    display: none;
  }
  /*---------------------main-section start----------------------*/
  .owl-item {
    padding: 6rem;
  }
  .owl-item .hero-content {
    width: 100%;
  }
  .owl-item .hero-content h6 {
    font-size: 1.3rem;
  }
  .owl-item .hero-content h1 {
    font-size: 3rem;
  }
  /*-----------feature-area start----------------*/

  .feature-wraping {
    width: 100%;
    grid-template-columns: 1fr 1fr;
    margin-top: -50px;
  }
  /*-------------------about-image start-----------------------*/
  .about-image {
    padding: 0;
  }
  .image-left {
    padding: 0;
  }
  .about-area {
    padding: 2rem 6rem;
  }
  .area-container {
    width: 100%;
    grid-template-columns: 1fr;
  }
  .image-left .img-1 {
    height: 489px;
    width: 326px;
  }
  .image-right .img-2 {
    height: 326px;
    width: 326px;
  }
  .image-right .img-3 {
    height: 391px;
    width: 326px;
  }
  /*-------------counter-area start----------------*/
  .counter-area {
    padding: 4rem 2rem;
  }
  .counter-area-container {
    grid-template-columns: 1fr 1fr;
  }
  .counter-wraping {
    margin: 1rem 0;
  }
  /*---------------------------Course-area start----------------------*/
  .Course-area {
    padding: 2rem 6rem;
  }
  .course-item {
    grid-template-columns: 1fr 1fr;
  }
  .course-image img {
    height: 220px;
    width: 330px;
  }
}
@media screen and (max-width: 768px) {
  .owl-item {
    padding: 4rem 5rem;
  }
  main .navbar-3 .nav-menu ul .Academics:hover .Academics-menu {
    grid-template-columns: 1fr;
  }
  .owl-item .hero-content h1 {
    font-size: 2.5rem;
  }
  .feature-wraping {
    grid-template-columns: 1fr;
  }
  /*-------------------about-image start-----------------------*/
  .about-area {
    padding: 5rem;
  }
  .about-image {
    grid-template-columns: 1fr;
    padding: 0;
  }
  .image-left .img-1 {
    height: 600px;
    width: 400px;
  }
  .image-right .img-2 {
    height: 400px;
    width: 400px;
  }
  .image-right .img-3 {
    height: 480px;
    width: 400px;
  }
  .both-site {
    grid-template-columns: 1fr;
  }
  .right-site {
    margin: 2rem 0;
  }
  .counter-area-container {
    grid-template-columns: 1fr;
  }
}
@media screen and (max-width: 520px) {
  .owl-item {
    padding: 4rem 2rem;
  }
  .about-area {
    padding: 2rem;
  }
}
