* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/*-----------------------common section----------------------*/
.search {
  color: #000;
}
#icon {
  font-size: 1.2rem;
  margin: 1rem;
  cursor: pointer;
}
main {
  margin-top: 63px;
}
/*----------common title----------*/
.title {
  color: #fda31b;
  width: fit-content;
  border-bottom: #fda31b 2px solid;
  text-transform: uppercase;
  letter-spacing: 4px;
  font-family: Arial, Helvetica, sans-serif;
}
.head-title {
  font-size: 55px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  line-height: normal;
}
.head-title span {
  color: #fda31b;
}
.desc {
  font-size: 1rem;
  margin: 1rem 0;
  opacity: 0.6;
  line-height: 2;
  font-family: Arial, Helvetica, sans-serif;
}

/*-------------common primary btn--------------*/
#primary-btn-2 {
  background-color: white;
}
#primary-btn-2 a {
  color: black;
  transition: all 0.5s;
}
#primary-btn-2:hover a {
  color: white;
}
/*-----------------------navbar 1 start---------------------*/
header {
  display: flex;
  justify-content: space-between;
  background-color: #262626;
  padding: 1rem;
  width: 100%;
  position: fixed;
  z-index: 10;
  top: 0;
}
header a {
  color: white;
  text-decoration: none;
  font-size: 1.2rem;
  margin: 0 1rem;
  font-weight: bolder;
}
header .btn-1 {
  background-color: rgb(3, 196, 3);
  color: rgb(255, 255, 255);
  margin: 0 1.5rem;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  font-weight: bolder;
  border: none;
  outline: none;
  text-decoration: none;
  cursor: pointer;
}
header .btn-1:hover {
  background-color: rgb(2, 177, 2);
}
/*----------------------navbar 2 start---------------------*/
main .navbar-2 {
  display: grid;
  grid-template-columns: 2fr 5fr;
  background-color: rgb(98, 105, 202);
}
main .navbar-2 .contact {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fda31b;
  padding: 0 auto;
  color: white;
}
main .navbar-2 .contact ul {
  display: flex;
  justify-content: center;
  list-style: none;
  gap: 1rem;
  padding: 1rem;
}
main .navbar-2 .contact ul li a {
  color: white;
  text-decoration: none;
  padding: 10px;
  border-radius: 50px;
  background-color: #116e63;
  transition: all 0.3s;
}
main .navbar-2 .contact ul li a:hover {
  color: rgb(241, 145, 20);
}
main .navbar-2 .address {
  background-color: #116e63;
}
main .navbar-2 .address ul {
  display: flex;
  justify-content: space-around;
  list-style: none;
  align-items: center;
  padding: 1rem;
}
main .navbar-2 .address ul li a {
  font-size: 1.1rem;
  color: white;
  text-decoration: none;
}
main .navbar-2 .address ul li a i {
  color: rgb(241, 145, 20);
  margin-right: 5px;
}
main .navbar-3 {
  position: sticky;
  align-content: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: inherit;
  top: 63px;
  background-color: rgb(255, 255, 255);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  transition: all 0.3s;
  z-index: 10;
}
main .navbar-3 .nav-3 {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: all 0.3s;
}
main .navbar-3 .nav-3 .menu-icon {
  display: none;
}
main .navbar-3 .nav-3 .main-menu {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 4rem;
}
main .navbar-3 .nav-3 .main-menu .logo {
  margin-left: 0;
}

main .navbar-3 .nav-3 .main-menu .meno {
  position: relative;
  list-style: none;
  margin-right: 22px;
  padding: 2rem 0;
}
.Academics {
  position: static;
  list-style: none;
  margin-right: 22px;
  padding: 2rem 0;
}
.Academics a {
  text-decoration: none;
  color: black;
  font-size: 1.2rem;
  transition: all 0.3s;
}
.Academics-menu {
  display: none;
  position: absolute;
  width: 100%;
  top: 100%;
  left: 0;
  border-top: 3px solid #fda31b;
  background-color: #116e63;
  padding: 2rem;
  transition: all 0.3s;
}
.Academics-menu div p {
  font-size: 1.2rem;
  margin-top: 1rem;
  line-height: 2rem;
  color: white;
}
.Academics-menu h2 {
  color: #fda31b;
  margin-bottom: 1.5rem;
}
.apply {
  position: relative;
  list-style: none;
  margin-right: 22px;
  padding: 1rem 1.5rem;
  border-radius: 50px 50px 50px 0;
  margin: 1rem 0;
  background-color: #fda31b;
  cursor: pointer;
  overflow: hidden;
}

.apply::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 0;
  height: 0;
  background-color: #116e63;
  border-radius: 50%;
  transform: translate(-50%, -50%);
  transition: width 0.5s, height 0.5s;
  z-index: 1;
}

.apply:hover::before {
  width: 300px;
  height: 300px;
}

.apply a {
  text-decoration: none;
  color: white;
  font-size: 1.2rem;
  position: relative;
  z-index: 1;
}

main .navbar-3 .nav-3 .main-menu .meno a {
  text-decoration: none;
  font-size: 1.2rem;
  transition: all 0.3s;
  color: black;
}

/*------------------sub menu start--------------------*/
.submenu {
  display: none;
  position: absolute;
  width: 200px;
  top: 100%;
  left: -30px;
  border-top: 3px solid #fda31b;
  background-color: #116e63;
  transition: all 0.3s;
}
main .navbar-3 .nav-menu ul .meno:hover .submenu {
  display: block;
  animation: anim 0.5s;
}
main .navbar-3 .nav-menu ul .Academics:hover .Academics-menu {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 1.5rem;
  animation: anim 0.5s;
}
@keyframes anim {
  0% {
    opacity: 0;
    top: 80%;
    transform: rotateX(-75deg);
    transform-origin: 0% 0%;
  }
  100% {
    opacity: 1;
    top: 100%;
    transform: rotateX(0deg);
    transform-origin: 0% 0%;
  }
}
.submenu ul {
  display: flex;
  flex-direction: column;
}
.submenu-hover {
  position: relative;
}
.submenu-2 #meno-effect a {
  color: white;
}
.submenu-2 {
  display: none;
  position: absolute;
  width: 200px;
  top: 0;
  left: 100%;
  border-top: 3px solid #fda31b;
  background-color: #116e63;
  animation: submeno-anim 0.5s;
}
@keyframes submeno-anim {
  0% {
    opacity: 0;
    top: 0%;
    transform: rotateX(-75deg);
    transform-origin: 120% 120%;
  }
  100% {
    opacity: 1;
    top: 0%;
    transform: rotateX(0deg);
    transform-origin: 120% 120%;
  }
}
.submenu-2 ul li {
  list-style: none;
  padding: 0.5rem;
}
.submenu-2 ul li #submeno-element {
  list-style: none;
  color: white;
  text-decoration: none;
  display: block;
  transition: all 0.3s;
}
.submenu-2 ul li #submeno-element:hover {
  color: #fda31b;
  transform: scale(0.9);
}
.submenu-hover:hover .submenu-2 {
  display: block;
}
#meno-effect {
  margin: 0;
  list-style: none;
  padding: 0.6rem 1rem;
  border-top: #12887a 1px solid;
  transition: all 0.5s;
  cursor: pointer;
}
#meno-effect a {
  color: white;
  display: flex;
  justify-content: space-between;
  text-decoration: none;
  transition: all 0.3s;
}
#meno-effect:hover a {
  color: #fda31b;
  transform: translateX(10px);
}
/*---------------------main-section start----------------------*/

.owl-item {
  padding: 4rem;
  margin: 0 auto;
  width: 100%;
  height: 110vh;
  background: url("./pic/slider-1.jpg") no-repeat center/cover;
  animation: change 10s infinite ease-in-out;
  position: relative;
}
.owl-item::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #022d3d;
  opacity: 0.8;
}
.owl-item .hero-content {
  width: 50%;
  position: relative;
}
.owl-item .hero-content h6 {
  color: #fda31b;
  font-size: 1.5rem;
  margin: 1rem 0;
  width: fit-content;
  border-bottom: #fda31b 2px solid;
}
.owl-item .hero-content h1 {
  color: rgb(253, 252, 252);
  font-size: 4rem;
  margin: 1rem 0;
}
.owl-item .hero-content p {
  color: rgb(255, 255, 255);
  font-size: 1.2rem;
  margin: 1rem 0;
}
.hero-btn {
  display: flex;
  gap: 1rem;
  margin-top: 1rem;
}
@keyframes change {
  0% {
    background: url("./pic/slider-1.jpg") no-repeat center/cover;
  }
  35% {
    background: url("./pic/slider-2.jpg") no-repeat center/cover;
  }
  70% {
    background: url("./pic/slider-3.jpg") no-repeat center/cover;
  }
  100% {
    background: url("./pic/slider-1.jpg") no-repeat center/cover;
  }
}

/*-----------feature-area start----------------*/
.feature-area {
  width: 100%;
  display: flex;
  flex-direction: row-reverse;
}
.feature-wraping {
  width: 70%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 1rem;
}
.feature-item {
  background-color: #ffffff;
  margin-top: -150px;
  z-index: 1;
  padding: 1.5rem;
  border-radius: 50px 50px 50px 0;
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.2), -1px -1px 10px rgba(0, 0, 0, 0.2);
  position: relative;
}
.feature-item .count {
  position: absolute;
  top: 0px;
  right: 30px;
  font-size: 50px;
  font-weight: 800;
  -webkit-text-stroke: 2px #116e63;
  -webkit-text-fill-color: transparent;
}
.feature-icon {
  padding: 10px;
  margin-bottom: 20px;
  height: fit-content;
  width: fit-content;
  background-color: #116e63;
  border-radius: 50%;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3);
  transition: all 0.5s;
}
.feature-item:hover .feature-icon {
  transform: rotateY(360deg);
}
.feature-icon img {
  filter: brightness(0) invert(1);
}
.feature-desc h2 {
  font-size: 1.5rem;
  margin: 1rem 0;
}
.feature-desc p {
  font-size: 1.2rem;
}

/*----------------------about-area start------------------------*/
.about-area {
  display: flex;
  width: 100%;
  padding: 120px 0 40px 0;
  justify-content: center;
}
.area-container {
  width: 95%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
}

/*-------------------about-image start-----------------------*/
.about-image {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 1rem;
}
.image-left {
  padding: 1rem;
}
.image-left img {
  border-radius: 90px 90px 0 90px;
}

.image-right {
  justify-items: center;
  align-items: center;
}
.about-experience {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1rem 0;
  padding: 0.5rem 1rem;
  background-color: #fda31b;
  border-radius: 40px 40px 40px 0;
}
.about-experience img {
  background-color: white;
  border-radius: 50%;
}
.about-experience p {
  color: white;
  font-size: 1.2rem;
  margin-left: 1rem;
}
.image-right {
  padding: 1rem;
}
.image-right .img-2 {
  border: #fda31b 2px dashed;
  padding: 10px;
  border-radius: 50%;
}
.image-right .img-3 {
  border-radius: 0 90px 90px 90px;
}

/*--------------about-right start----------------------*/
.about-right {
  padding: 3rem 0;
}
.site-title-tagline {
  width: fit-content;
  font-size: 1.3rem;
  font-family: Arial, Helvetica, sans-serif;
  border-bottom: #fda31b 2px solid;
  text-transform: uppercase;
  color: #fda31b;
}
.about-right h2 {
  font-size: 3rem;
  margin: 1rem 0;
  color: black;
}
.about-right h2 span {
  color: #fda31b;
}
.about-right .about-text {
  font-size: 1.2rem;
  margin: 1rem 0;
  color: black;
  opacity: 0.8;
  line-height: 1.5;
}
.about-contant {
  margin: 1rem 0;
}
.both-site {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
  border-bottom: rgb(255, 255, 255, 0.5) 1px solid;
}
.about-item {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
}

.about-item-icon {
  border-radius: 50%;
  background-color: #fda31b;
  padding: 10px;
}
.about-item-icon img {
  filter: brightness(0) invert(1);
}
.about-item-content {
  margin-left: 0.5rem;
}
.about-item-content h5 {
  font-size: 1.2rem;
  font-family: Arial, Helvetica, sans-serif;
  color: black;
}
.about-item-content p {
  font-size: 1.2rem;
  color: black;
  opacity: 0.8;
}
.right-site {
  margin: 1rem 2rem;
  position: relative;
}
.about-quote {
  background-color: #e9e0d2;
  padding: 1.5rem;
  border-radius: 20px;
}
.about-quote p {
  font-size: 1.1rem;
  line-height: 1.5;
  font-family: Arial, Helvetica, sans-serif;
  color: black;
  opacity: 0.8;
}
.about-quote i {
  position: absolute;
  right: 0;
  bottom: 0;
  font-size: 2rem;
}
.about-btn {
  display: flex;
  margin-top: 1rem;
}
.about-phone {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 1rem;
}
.about-phone .icon i {
  padding: 10px;
  background-color: #116e63;
  color: white;
  border-radius: 50%;
  font-size: 1.5rem;
}
.number {
  font-size: 1.2rem;
  margin-left: 1rem;
}
.number span {
  color: #fda31b;
  font-family: Arial, Helvetica, sans-serif;
}
.number a {
  text-decoration: none;
  font-size: 1.2rem;
  color: black;
}
/*-------------counter-area start----------------*/
.counter-area {
  background-image: url("./pic/slider-3.jpg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  padding: 4rem;
  z-index: 1;
  position: relative;
}
.counter-area::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #116e63;
  opacity: 0.7;
}
.counter-area-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 1rem;
}
.counter-wraping {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 1;
}
.counter-wraping .counter-item {
  position: relative;
  height: 100px;
  width: 100px;
  font-size: 60px;
  line-height: 88px;
  background-color: #fda31b;
  border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.counter-wraping .counter-item::before {
  content: "";
  position: absolute;
  left: 10px;
  top: 10px;
  width: 95%;
  height: 95%;
  border: 3px solid white;
  transition: all 0.5s ease-in-out;
  border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%;
  z-index: -1;
}
.counter-wraping:hover .counter-item::before {
  left: 1px;
  top: 1px;
  width: 90%;
  height: 90%;
}
.counter-wraping .counter-item img {
  filter: brightness(0) invert(1);
}
.counter-details {
  text-align: center;
  margin-top: 1.5rem;
  font-weight: 700;
  font-family: Arial, Helvetica, sans-serif;
}
.counter-details span {
  font-size: 3rem;
  color: white;
}
.counter-details h6 {
  font-size: 1.3rem;
  margin-top: 1rem;
  color: white;
}
/*---------------------------Course-area start----------------------*/
.Course-area {
  padding: 3rem 0;
}
.course-container {
  display: flex;
  flex-direction: column;
}
.course-title-row {
  display: flex;
  padding: 1rem;
  justify-content: center;
  align-items: center;
}
.course-title {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

/* ---------------course-row-------------*/
.course-row {
  display: flex;
  justify-content: center;
  align-items: center;
}
.course-item {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding: 1rem 4rem;
}
.items {
  padding: 1rem;
}
.item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 50px 50px 50px 0;
  box-shadow: 5px 5px 30px rgba(0, 0, 0, 0.1), -5px -5px 30px rgba(0, 0, 0, 0.1);
  padding: 1rem 0;
}
.course-image img {
  border-radius: 50px 50px 50px 0;
  transition: all 0.5s;
}
.course-image {
  position: relative;
}
/*------------link animation ---------------*/
.link-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(3);
  opacity: 0;
  visibility: hidden;
  background-color: #fda31b;
  color: white;
  padding: 18px;
  border-radius: 50%;
  transition: all 0.5s;
  cursor: pointer;
  z-index: 1;
}
.course-image span {
  position: absolute;
  right: -10px;
  top: 1rem;
  padding: 5px 10px;
  font-size: 1.2rem;
  color: white;
  border-radius: 50px 50px 50px 0;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  background-color: #fda31b;
  z-index: 2;
}
.course-image span i {
  font-size: 1rem;
  margin-right: 5px;
}
.link-icon:hover {
  background-color: white;
  color: #fda31b;
}
.item:hover .link-icon {
  opacity: 1;
  visibility: visible;
  transform: translate(-50%, -50%) scale(1);
}
.item:hover img {
  filter: brightness(0.5);
}
.course-details {
  padding: 1rem;
}
/*------------lesson ---------------*/
.lasson {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
  font-size: 20px;
  opacity: 0.6;
}
.course-details h4 {
  font-size: 1.3rem;
  margin-bottom: 0.8rem;
  font-family: Arial, Helvetica, sans-serif;
}
.course-details .course-para {
  font-size: 1.1rem;
  border-bottom: rgb(175, 172, 172, 0.5) 1px solid;
  padding-bottom: 1rem;
  opacity: 0.8;
  font-family: Arial, Helvetica, sans-serif;
}
.course-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 15px;
  font-family: Arial, Helvetica, sans-serif;
  margin-top: 1rem;
}
.course-footer p {
  opacity: 0.8;
  font-size: 1.1rem;
}
.course-footer p i {
  color: #fda31b;
}
.course-footer span {
  padding: 6px 12px;
  color: white;
  background-color: #fda31b;
  border-radius: 50px 50px 50px 0;
}
/*---------------------------video-aera-------------------*/
.video-aera {
  margin: 4rem;
  display: grid;
  grid-template-columns: 1fr 2fr;
}
/*---------------------------video-details-------------------*/
.video-details {
  padding-left: 1rem;
}

.video-details .apply {
  width: fit-content;
}
/*---------------------------video-------------------*/
.video {
  margin-left: 1rem;
  height: 350px;
  width: 776px;
}
.video-image {
  background: url("./pic/video-image.jpg") no-repeat center/cover;
  height: 100%;
  width: 100%;
  border-radius: 50px 50px 50px 0;
  position: relative;
}
.video-image a {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.video-image a i {
  color: white;
  background-color: #fda31b;
  padding: 1.5rem;
  font-size: 1.2rem;
  border-radius: 50%;
  text-decoration: none;
}
/*----------------------------teacher-area-------------------*/
.teacher-area {
  padding: 5rem;
}
.teacher-title-area {
  display: flex;
  justify-content: center;
  align-items: center;
}
.teacher-title {
  width: 50%;
  text-align: center;
}

/*----------------------------teacher-------------------*/
.All-Teachers {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
  margin-top: 2rem;
}
.teacher {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 50px 50px 50px 0;
  box-shadow: 1px 1px 30px rgba(0, 0, 0, 0.1), -1px -1px 30px rgba(0, 0, 0, 0.1);
  padding: 1rem;
  transition: all 0.5s;
}
.teacher:hover {
  transform: translateY(-15px);
}
.teacher-image {
  position: relative;
}
.teacher-image img {
  height: 302px;
  width: 246px;
  border-radius: 50px 50px 50px 0;
}
.teacher-details {
  width: 100%;
}
.teacher-details p {
  opacity: 0.8;
}

/*----------------------------teacher-contact-------------------*/
.teacher-contact {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 1.5rem;
  right: -2rem;
  opacity: 0;
  transition: all 0.5s;
}
.teacher:hover .teacher-contact {
  opacity: 1;
  transform: translateX(-80%);
}
.teacher-contact i {
  padding: 0.7rem;
  background-color: #fda31b;
  color: white;
  border-radius: 50% 50% 50% 0;
  margin: 0.3rem;
  cursor: pointer;
  transition: all 0.5s;
}
.teacher-contact i:hover {
  background-color: #116e63;
}
/*------------------------why choose area start--------------------------*/
.choose-area {
  position: relative;
  background: #012758;
  z-index: 1;
  padding: 5rem;
  display: flex;
  align-items: center;
}
.choose-area::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url("./pic/background.png") no-repeat center/cover;
  opacity: 0.08;
  z-index: -1;
}
.choose-details {
  padding-right: 5.5rem;
}
.choose-details .head-title,
.choose-details .desc {
  color: white;
  opacity: 1;
}
.choose-items {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  gap: 1rem;
  margin-top: 2rem;
}
/*-----------------------choose item -------------------------*/
.choose-item {
  display: flex;
  background-color: #ffffff;
  padding: 1rem 0;
  border-radius: 50px 50px 50px 0;
  overflow: hidden;
}
.choose-item-pic {
  background-color: #fda31b;
  padding: 1rem;
  border-radius: 50% 50% 50% 0;
  margin-left: -12px;
}
.choose-item img {
  filter: brightness(0) invert(1);
}
.item-desc {
  padding: 0 0.5rem;
  font-family: Arial, Helvetica, sans-serif;
}
.item-desc p {
  opacity: 0.8;
  margin-top: 0.5rem;
  line-height: 1.8rem;
}
/*-----------------------choose-pic -------------------------*/
.choose-pic img {
  border-radius: 30% 0 30% 30%;
  position: relative;
}
.choose-pic {
  position: relative;
}
.choose-pic:before {
  content: "";
  position: absolute;
  left: -20px;
  bottom: -20px;
  width: 100%;
  height: 100%;
  border: #fda31b 5px solid;
  border-radius: 30% 0 30% 30%;
  z-index: 1;
}
/*-----------------------Galary-area -------------------------*/
.Galary-area {
  padding: 4rem;
}
.Galary-details {
  display: flex;
  justify-content: center;
  align-items: center;
}
.Galary-title {
  width: 50%;
  text-align: center;
}
.Galary {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
.Galary-row {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.Photo {
  position: relative;
  margin: 1rem;
}
.photo-content {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}
.photo-content::before {
  content: "";
  position: absolute;
  top: 10px;
  left: 10px;
  right: 10px;
  bottom: 10px;
  border-radius: 50px 50px 50px 0;
  opacity: 0.8;
  transition: all 0.3s;
}
.Photo:hover .photo-content::before {
  background-color: #fda31b;
}
.photo-content {
  display: flex;
  justify-content: center;
  align-items: center;
}
.photo-content i {
  color: white;
  transform: scale(0);
  opacity: 0;
  cursor: pointer;
  transition: all 0.5s;
}
.Photo:hover .photo-content i {
  transform: scale(3);
  z-index: 2;
  opacity: 1;
}

.Photo img {
  width: 100%;
  height: 100%;
  border-radius: 50px 50px 50px 0;
}
/*-----------------------offer-area -------------------------*/
.offer-area {
  margin-top: 4rem;
  padding: 0 5rem;
  background: url(./pic/offer-BG.jpg) no-repeat center/cover;
}
.offer-container {
  display: flex;
  justify-content: right;
}
.offer {
  width: 40%;
  background-color: #fda31b;
  position: relative;
  padding: 80px 40px;
  border-radius: 80px 80px 80px 0;
  margin-top: -40px;
}

.offer::before {
  content: "";
  position: absolute;
  top: 8px;
  left: 8px;
  right: 8px;
  bottom: 8px;
  border: white 8px double;
  border-radius: 80px 80px 80px 0;
}
.offer h1 {
  font-size: 40px;
  color: white;
}
.offer p {
  color: white;
  font-size: 1.3rem;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  line-height: 2rem;
  margin: 1rem 0;
}
.offer .apply {
  width: fit-content;
}
/*-----------------------upcoming-event---------------*/
.upcoming-event-area {
  padding: 5rem;
  background-color: #f2f3f5;
}
.upcoming-details {
  display: flex;
  justify-content: center;
  align-items: center;
}
.upcoming-title {
  width: 50%;
  text-align: center;
  margin: 3rem 0;
}
/*-----------------------All-events-------------------*/
.All-events {
  display: flex;
  overflow: hidden;
}
.event {
  padding: 25px;
  margin-right: 20px;
  background-color: #ffffff;
  border-radius: 50px 50px 50px 0;
}
.event-photo {
  border-radius: 50px 50px 50px 0;
  overflow: hidden;
}
.event-photo img {
  border-radius: 50px 50px 50px 0;
  transition: all 0.3s;
}
.event:hover img {
  transform: scale(1.1);
}
